<main class="container h-75 text-center">
  <h1>Manage Your Finances with Cash_Commander</h1>
  <div class="text-start mt-4">
    <span><strong>OUR MISSION: </strong></span>
    <p>To help users manage their finances, save money, and achieve financial stability.</p>
  </div>
  <div class="text-start mt-4">
    <span><strong>OUR GOAL: </strong></span>
    <p>To develop an intuitive and user-friendly web application that allows users to keep records of their income and expenses, control their finances, and plan for the future. Our application will assist users in understanding where their money is going, making informed financial decisions, and ensuring financial stability.</p>
  </div>
</main>