<main class="container h-75 text-center">
    <h1>Керуй своїми фінансами з Cash Commander</h1>
    <span>НАША ЦІЛЬ: </span>
    <p>Допомогти користувачам керувати своїми фінансами, зберігати гроші та досягати фінансової стабільності.</p>
    <span>НАША МЕТА: </span>
    <p>Розробити інтуїтивно зрозумілий та простий веб-застосунок, що дозволить користувачам зберігати записи про свої доходи та витрати, контролювати свої фінанси та планувати витрати на майбутнє. Наш застосунок допоможе користувачам розуміти, куди йдуть їх гроші, зробити осмисленими рішення щодо фінансів та забезпечити фінансову стабільність.</p>
</main>
