<h1>Генератор звітів</h1>

<div>
  <form action="action_report" method="GET">
    <label for="first_date">Дата YYY-MM-DD</label>
    <input type="date" id="first_date" name="start_date" required>
    <br>
    <label for="second_date">Дата YYY-MM-DD</label>
    <input type="date" id="second_date" name="end_date" required>
    <br>

    <label for="operations">Тип операцій</label>
    <input id="operations" name="operations" list="type_operations">
    <datalist id="type_operations">
        <option value="Витрати">
        <option value="Доходи">
    </datalist>
    <br>
    <label for="category">Категорія</label>
    <select id="category" name="categories">
    </select>
    <br>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <input type="reset" class="btn btn-outline-primary" id="btn_reset" name="btn_reset" value="Очистити"></input>
      <input type="submit" class="btn btn-outline-primary" id="btn_graph" name="btn_graph" value="Графік"></input>
      <input type="submit" class="btn btn-outline-primary" id="btn_dates" name="btn_dates" value="По датам"></input>
    </div>
  </form>
</div>
