<div class="container h-75 me-auto d-flex flex-column justify-content-start">
  <h1 class="text-center m-3 p-4">New operation</h1>
  <div class="d-flex justify-content-center mb-3">
    <%= render "form", operation: @operation %>
  </div>
  <div class="text-center">
    <button class="btn btn-info mt-3 me-2">
      <%= link_to "Back to operations", operations_path %>
    </button>
  </div>
</div>
